config SHIELD_DABASE_V11_LEFT
    def_bool $(shields_list_contains,dabase_v0-2_left)

config SHIELD_DABASE_V11_RIGHT
    def_bool $(shields_list_contains,dabase_v0-2_right)

config SHIELD_DABASE_V11_DONGLE
    def_bool $(shields_list_contains,dabase_v0-2_dongle)
