if SHIELD_DABASE_V11_DONGLE

config ZMK_KEYBOARD_NAME
    default "DabaseV1.1"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2

endif

config ZMK_SPLIT
    default y
