if SHIELD_DABASE_V11_DONGLE

config ZMK_KEYBOARD_NAME
    default "DabaseV1.1"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif

if SHIELD_DABASE_V11_LEFT || SHIELD_DABASE_V11_RIGHT || SHIELD_DABASE_V11_DONGLE

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

endif
